body{
	background: linear-gradient(to left,#234,#333,#432);
}
form{
	border: 1px solid #c6c7cc;
	border-radius: 8px;
	font-family: sans-serif;
	width: 40%;
	top: 5%;
	left: 30%;
	overflow: hidden;
	position: absolute;
}
fieldset{
	padding: 0;
	margin: 0;
	border: 0;
}
input{
	border-radius: 5px;
	font-family: sans-serif;
	margin: 0;
}
.P-info{
	padding: 20px 20px 0 20px;
	left: 10%;
	position: relative;
}
.P-info label{
	color: #395870;
	display: block;
	font-weight: bold;
	margin-bottom: 20px;
}
.P-info input{
	background: #fff;
	border: 1px solid  #c6c7cc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	color: black;
	font-family: inherit;
	font-weight: bold; 
	padding: 6px;
	margin-top: 5px;
	width: 75%;
}
.end{
	padding: 20px 20px 0 170px;
}
.title{
    text-align: center;
    margin: 20px;
    position: relative;
    line-height: 50px;
    color: #555;
    transform: translateY(20px);
    letter-spacing: 2px;
}
.end .btn{
	background: linear-gradient(#49708f,#293f50);
	border: 0;
	cursor: pointer;
	font-weight: normal;
	padding: 8px 16px;
	width: 80%;
	color: #888;
	letter-spacing: 1px;
	font-size: 15px;
	border-radius: 5px;
	font-family: sans-serif;
	margin-left: -26px;
	margin-bottom: 30px;
	transform: translateY(-10px);
}
.end label{
	color: #7c7c80;
	font-size: 13px;
	margin: 15px 0 0 20px;
	left: 30px;
	position: absolute;
	bottom: 17%;
}
.end .cec{
	width: 15px;
	left: 7%;
	bottom: 17%;
	position: absolute;
	height: 15px;
}
span{
	position: relative;
	bottom: 15px;
	letter-spacing: 1px;
}
span a{
	text-decoration: underline;
	color: blue;
}